<!DOCTYPE html>
<html dir="rtl">

<head>
    <title>دشوری! - راهنمای دستشویی های عمومی</title>
    <link rel="stylesheet" href="/stylesheets/menu-styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/iranian-sans" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <style>
        #map {
            height: 100%;
        }
    </style>
</head>

<body>
<div id='cssmenu'>
    <ul>
        <li style="float: right"><a href='/'>صفحه اصلی</a></li>
        <li class='active' style="float: right"><a href='/about'>این چیه؟</a></li>
        <li style="float: right"><a href='/report'>گزارش</a></li>
    </ul>
</div>
<div class="pure-g high-level-container">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5 ">
        محتوا... به زودی!
    </div>
    <div class="pure-u-1-5"></div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="/javascripts/menu-script.js" charset="utf-8"></script>
</html>