<!DOCTYPE html>
<html dir="rtl">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145697418-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-145697418-1');
    </script>

    <title>دشوری! - راهنمای دستشویی های عمومی</title>
    <link rel="stylesheet" href="/stylesheets/menu-styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/iranian-sans" type="text/css"/>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<div id='cssmenu'>
    <ul>
        <li style="float: right"><a href='/'>صفحه اصلی</a></li>
        <li class='active' style="float: right"><a href='/about'>این چیه؟</a></li>
        <li style="float: right"><a href='/report'>گزارش</a></li>
    </ul>
</div>
<div class="pure-g high-level-container">
    <div class="pure-u-1-5"></div>
    <div class="pure-u-3-5 ">
        <ul>
            <li>
                <h2>«دشوری» چیه؟</h2>
                <p>
                    یه سایت برای پیدا کردن توالت‌های عمومی. نقطه‌ی مورد نظرتون رو روی نقشه انتخاب کنید، دستشویی‌‌های عمومی تا فاصله ۱.۵‌کیلومتری مشخص میشه.
                </p>
            </li>
            <li>
                <h2>که چی؟</h2>
                <p>
                    احتمالا برای خیلی‌ها سوال میشه که «خب فایده‌اش چیه؟‌ می‌بینیم یا می‌پرسیم پیدا می‌کنیم دیگه.». اما چندین بار در شبکه‌های اجتماعی مختلف دیدم که این موضوع دغدغه آدمها بوده، در نزدیکان خودم هم چند نفر رو سراغ دارم که همیشه وسط خیابون نیاز به دستشویی عمومی پیدا می‌کنن.
                    <br>
                    از طرف دیگه این پروژه برای سازنده‌اش چند مدل مختلف تجربه جدید فراهم کرده.
                </p>
            </li>
            <li>
                <h2>اطلاعاتش کامل نیست!</h2>
                <p>
                    ممکنه شما اطلاعاتی داشته باشید که توی این سایت فعلا موجود نباشه. ممنون میشم اگه وقت بذارید و توی صفحه
                    <a href="/report">گزارش</a>
                    اطلاعاتش رو بفرستید.
                </p>
            </li>
            <li>
                <h2>یه سری اطلاعات فنی و تقدیر و تشکر</h2>
                <ul>
                    <li>
                        سورس کد این پروژه رو میتونین از
                        <a href="https://github.com/amaralani/dashoori">گیت هاب </a>
                        شاهده کنید. PR هم اگه داشته باشید مزید امتنان خواهد بود، مخصوصا در مورد UI.
                    </li>
                    <li>
                        این پروژه از
                        <a href="https://fandogh.cloud/"> سرویس های ابری فندق</a>
                        استفاده می‌کنه.
                    </li>
                    <li>
                        بخش زیادی از اطلاعات اولیه این پروژه از
                        <a href="https://www.kikojas.com/">سایت کی‌کجاس؟</a>
                        دریافت شده.
                    </li>
                </ul>
            </li>
            <li>
                <h2>
                    تماس
                </h2>
                <p>
                    در صفحه
                    <a href="/report">گزارش</a>
                    می‌تونید پیشنهاد، انتقاد و نظر بفرستید یا مکان های جدید معرفی کنید. اگه کار نکرد یا به هر دلیل دیگه ای نخواستید، ایمیل بزنید.
                    <br>
                    amir.maralani@gmail.com
                </p>
            </li>
        </ul>
    </div>
    <div class="pure-u-1-5"></div>
</div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="/javascripts/menu-script.js" charset="utf-8"></script>
</html>