<!DOCTYPE html>
<html>

<head>
    <title>دشوری! - راهنمای دستشویی های عمومی</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/menu-styles.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          crossorigin=""/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet.locatecontrol/dist/L.Control.Locate.min.css"/>

    <style>
        #map {
            height: 100%;
        }
    </style>
</head>

<body>
<div id='cssmenu'>
    <ul>
        <li class='active' style="float: right"><a href='#'>صفحه اصلی</a></li>
        <li style="float: right"><a href='/about'>این چیه؟</a></li>
        <li style="float: right"><a href='/report'>گزارش</a></li>
    </ul>
</div>
<div>
    Content
</div>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js" charset="utf-8"></script>
<script src="/javascripts/menu-script.js" charset="utf-8"></script>
</html>